
<div >
	<carousel>
	  <slide>
		<div class="text-center py-5 bg-dark text-white">
		  <h2>First custom content</h2>
		  <div class="lead">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		  </div>
		</div>
	  </slide>
	  <slide>
		<div class="text-center py-5 bg-dark text-white">
		  <h2>Second custom content</h2>
		  <div class="lead">
			<h3>Second slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		  </div>
		</div>
	  </slide>
	  <slide>
		<div class="text-center py-5 bg-dark text-white">
		  <h2>Third custom content</h2>
		  <div class="lead">
			<h3>Third slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum. </p>
		  </div>
		</div>
	  </slide>
	</carousel>
</div>

<div class="container">
  <div class="row product-list-area">
    <div class="product-detail col-sm-6">
      <div class="product-img-area">
        <img class="product-img">
      </div>
      <div class="product-info">
        <div class="product-name">
          测试产品001
        </div>
      </div>
    </div>
    <div class="product-detail col-sm-6">
      <div class="product-img-area">
        <img class="product-img">
      </div>
      <div class="product-info">
        <div class="product-name">
          测试产品001
        </div>
      </div>
    </div>
    <div class="product-detail col-sm-6">
      <div class="product-img-area">
        <img class="product-img">
      </div>
      <div class="product-info">
        <div class="product-name">
          测试产品001
        </div>
      </div>
    </div>
  </div>
