.company-header-area{
	margin-bottom:1em;
	overflow:hidden;
}

.company-logo {
	float:left;
}

.company-header {
	float:right;
}

.company-nav-area {
	background-color:gray;
	margin-bottom:1em;
}

.company-nav-area a{
	padding: 1em 1em;
	margin:0;
	display: inline-block;
	background-color:white;
}
.company-footer-area {
	margin-top: 1em;
}